
# Python
__pycache__/
*.py[cod]
*$py.class

.Python
build/
dist/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/
ENV/

.gitignore
.gitattributes

# MLflow
mlruns/
mlartifacts/
outputs/

# Ignorar toda la carpeta data, pero permitir su propio .gitignore
!data/.gitignore


# Models
models/*
!models/.gitkeep

# Credentials
/config/credentials.yaml
.dvc/*.json

# DVC
.dvc/
/dvc.lock
/dvc.yaml

# Logs
*.log
logs/

# Secrets
.Secrets

# Data
data/*.csv